div {
	border-radius: 10px;
}


#header {
	z-index: 1;
	position:fixed;
	width:100%;
	height:50px;
	background-color:ghostwhite;
	
}

body {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Gill Sans", GillSansCRegular, Arial, sans-serif;
    color: #4a575d;
    position: relative;
}

#Squad{
    float: right;
	margin-right: 35px;
	padding-top: auto;
	font-size: 18px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#Fondo{
    position: absolute;
	float: right;
	width: 100%;
	height: 700px;
	background-color: ghostwhite;
	margin-bottom: 10px;
}

img {
    position: relative;
    display: inline-block;
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    background-position: 800%;
    border-radius: 50%;
    background-size: 100% auto;
    
    
}